.wrapper {
    margin-top: 50px;
    /* text-shadow: 1px 1px 26px; */
    box-shadow: 1px 1px 51px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 51px;
    -moz-box-shadow: 1px 1px 51px;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.chat li {
    /*margin-bottom: 10px;*/
    padding-bottom: 5px;
    margin-top: 60px;
}

.default-usr {
    background: #5bc0de;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 15px;
}

.mini {
position:fixed;
bottom:0px;
right:0px;
}

.default-usr-me {
    background: #d9534f ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    padding: 15px;
}

.chat-text {
    border: 2px solid black;
    padding: 13px;
    border-radius: 5px;
    margin-left:30px;
    position:relative;
    display:inline-block;
    box-shadow: 1px 2px 7px grey;
    background: white;
}

.chat-text:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 15px solid;
    border-color: transparent black transparent transparent;
    position: absolute;
    left: -30px;
    bottom:5px;

   
    }
.chat-text:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 15px solid;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -28px;
    bottom:5px;
   
    }


.chat-text-right {
    border: 2px solid black;
    padding: 13px;
    border-radius: 5px;
    margin-right:30px;
    position:relative;
    display:inline-block;
    box-shadow: 1px 2px 7px grey;
    background: white;
}

.chat-text-right:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 15px solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    right: -31px;
    bottom: 5px;

}

.chat-text-right:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 15px solid;
    border-color: transparent transparent transparent white;
    position: absolute;
    right: -29px;
    bottom: 5px;

}

body {
    background-image: url('../images/weather.png');
}

.panel-body {
     background-image: url('../images/rockywall.png');
}
/*body {

background: 
radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
background-color:#b03;
background-size:100px 100px;
}*/